temp/
.mono/temp/bin/Debug/iridos.dll
.mono/temp/bin/Debug/iridos.pdb
.mono/temp/obj/Debug/iridos.assets.cache
.mono/temp/obj/Debug/iridos.csproj.AssemblyReference.cache
.mono/temp/obj/Debug/iridos.csproj.CoreCompileInputs.cache
.mono/temp/obj/Debug/iridos.dll
.mono/temp/obj/Debug/iridos.GeneratedMSBuildEditorConfig.editorconfig
.mono/temp/obj/Debug/iridos.pdb
.mono/temp/obj/iridos.csproj.nuget.dgspec.json
.mono/temp/obj/iridos.csproj.nuget.g.props
.mono/temp/obj/iridos.csproj.nuget.g.targets
.mono/temp/obj/project.assets.json
.mono/temp/obj/project.nuget.cache
.mono/metadata/ide_messaging_meta.txt
.mono/assemblies/Debug/api_hash_cache.cfg
